extends layout
block linktags
    link(href="/css/about.css",rel="stylesheet")

block content
    div.about-main-container
        div.description-text Anonymous is a loosely associated international network of activist and hacktivist entities. A website nominally associated with the group describes it as "an Internet gathering" with "a very loose and decentralized command structure that operates on ideas rather than directives".